<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% load static %}
    {% load admin_urls %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/abd2ed3d51.js" crossorigin="anonymous"></script>
    {% block scripts %}
    {% endblock %}

    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto align-items-center">
                <li class="nav-item active">
                    <a class="navbar-brand" href="{% url 'index' %}"><img src="{% static 'images/logo.png' %}" height="64px"></a>
                </li>
                <li class="nav-item dropdow">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Cadastro
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'list_person' %}">Cliente</a>
                        {% if "admin.add_logentry" in perms %}
                        <a class="dropdown-item" href="{% url 'admin:main_employee_changelist' %}" target="_blank">Funcionário</a>
                        <a class="dropdown-item" href="{% url 'admin:main_supplier_changelist' %}" target="_blank">Fornecedor</a>
                        {% endif %}
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Financeiro
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'list_invoice' %}">Contas a Pagar</a>
                        <a class="dropdown-item" href="{% url 'list_receivable' %}">Contas a Receber</a>
                        <a class="dropdown-item" href="{% url 'admin:main_tax_changelist' %}" target="_blank">Cadastro Financeiro</a>
                        <!-- <a class="dropdown-item" href="#" disabled>Fluxo de Caixa</a>
                        <a class="dropdown-item" href="#" disabled>Conciliação Bancária</a> -->
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'schedule_list' %}">Agendamento</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'list_sale' %}">Vendas</a>
                </li>
          </ul>
          <ul class="navbar-nav my-2 my-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {% if user.first_name %} {{user.first_name}} {{user.last_name}} {% else %} {{user.username}} {% endif %}
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                        {% if user.is_superuser %}
                            <a target="_blank" class="dropdown-item" href="{% url 'admin:index' %}">Painel de Administrador</a>
                            <a target="_blank" class="dropdown-item" href="{% url 'admin:main_meta_changelist' %}">Adicionar Meta</a>
                        {% endif %}          
                        <a class="dropdown-item" href="{% url 'logout' %}">Sair</a>
                    </div>
                </li>
          </ul>
        </div>
    </nav>
    {% block body %}
    {% endblock %}
    {% block footer %}
    <nav class="navbar navbar-expand-lg navbar-light bg-secondary mt-auto d-flex flex-column justify-content-center">
        <a class="navbar-brand" href="{% url 'index' %}">Beleza Pura Estética</a>
        <small>Version 1.0.0</small>
    </nav>
    {% endblock %}
</body>

</html>
