{% extends "./main.html" %}

{% load static %}

{% block title %}Despesas - Cadastro{% endblock %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Despesa</title>
    {% block scripts %}
    <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="select2-bootstrap.css">
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.6/jquery.inputmask.min.js"></script>
    <script src="{% static 'js/new_invoice.js' %}"></script>
    {% endblock %}
</head>
<body>
    {% block body %}
    <div class="container-fluid">
        <form action="{% url 'new_invoice' %}" method="post" class="box bg-secondary"> 
            {% csrf_token %}
            <div class="col row">
                <h1 class="col align-self-center">Despesa (Cadastro)</h1>
            </div>
            <hr width="100" class="w-100">
            <div class="col row justify-content-lg-around justify-content-lg-between py-2">
                <div class="col-6 d-flex flex-column form-group">
                    <label for="TipoConta">Tipo*</label>
                    <select class="form-control" required  id="TipoConta" name="invoice_type">
                        <option value="" disabled selected hidden>Selecione</option>
                        {% for type in invoice_type_list %}
                        <option value="{{type.pk}}">{{type.number}} - {{type.name}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-6 d-flex flex-column form-group">
                    <label for="Descrição">Descrição</label>
                    <input class="form-control" id="Descrição" name="description" type="text">
                </div>
            </div>
            <div class="col row justify-content-lg-around justify-content-center py-2">
                <div class="col-3 d-flex flex-column form-group">
                    <label for="Lançamento">Data de Lançamento*</label>
                    <input class="form-control" required  id="Lançamento" name="release_date" type="date">
                </div>
                <div class="col-3 d-flex flex-column form-group">
                    <label for="Pagamento">Data de Vencimento*</label>
                    <input class="form-control" required  id="Pagamento" name="due_date" type="date">
                </div>
                <div class="col-3 d-flex flex-column form-group">
                    <label for="cost">Valor*</label>
                    <input class="form-control" required  id="cost" name="cost" type="text">
                </div>
                <div class="col-3 d-flex flex-column form-group">
                    <label for="Recorrencia">Há recorrência?*</label>
                    <select class="custom-select" class="form-select" required  id="Recorrencia" name="recurring" onchange="changeView(event)">
                        <option value="" disabled selected hidden>Selecione</option>
                        <option value="True">Sim</option>  
                        <option value="False">Não</option> 
                    </select>
                </div>
            </div>
            <div class="col row justify-content-lg-around justify-content-lg-between py-2">
                <div class="col-6 d-flex flex-column form-group">
                    <label for="supplier">Fornecedor*</label>
                    <select class="custom-select" required  id="supplier" name="supplier">
                        <option value="" disabled selected hidden>Selecione</option>
                        {% for supplier in supplier_list %}
                        <option value="{{supplier.pk}}">{{supplier.name}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div id="qtd_div" class="col-3 d-flex flex-column form-group" style="visibility: hidden">
                    <label for="Qtd">Qtd. recorrência*</label>
                    <input class="form-control" id="Qtd" name="recurring_qtd" type="number" value="0">
                </div>  
                <div id="rec_div" class="col-3 d-flex flex-column form-group" style="visibility: hidden">
                    <label for="Prazo">Recorrência*</label>
                    <select class="custom-select" class="form-select" id="Prazo" name="recurring_time">
                        <option value="" disabled selected hidden>Selecione</option>
                        <option value="7">Semanal</option>  
                        <option value="15">Quinzenal</option> 
                        <option value="30">Mensal</option>
                    </select>
                </div>  
            </div>
            <div class="col row justify-content-lg-around justify-content-lg-between py-2">
                <div class="col-6 d-flex flex-column form-group">
                    <label for="OBS">Observações</label>
                    <textarea class="form-control" name="obs" id="OBS" cols="20" rows="4"></textarea>
                </div>
                <div class="col-6"></div>
            </div>
            <hr width="100" class="w-100">
            <div class="d-flex justify-content-end">
                <div class="ml-auto p-2">
                    <input type="submit" value="Confirmar" class="btn btn-success">
                </div>
                <div class="ml-auto p-2">
                    <button type="button" url="{% url 'list_person' %}" onclick="cancelCreation(event)" class="btn btn-danger" id="cancelButton">Cancelar</button>
                </div>
            </div>
        </form>
      </div>
    {% endblock %}
</body>
</html>