{% extends "./main.html" %}

{% load static %}

{% block title %}Pessoas - Visualização{% endblock %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% block scripts %}
    <script src="{% static 'js/view_person.js' %}"></script>
    {% endblock %}
</head>
<body>
    {% block body %}
    <div class="container-fluid">
        <!-- para voltar, apague o "row" a seguir e os "cols" de suas divs-filho imediatas -->
        <form id="personForm" action="{% url 'view_person' person.pk %}" method="post" class="box bg-secondary"> 
            {% csrf_token %}
            <input type="hidden" name="pk" id="pk" value={{person.pk}}>
            <div class="col row">
                <h1 class="col align-self-center">Cliente (Visualização)</h1>
            </div>
            <hr width="100" class="w-100">
            <div class="col row justify-content-lg-around justify-content-lg-between py-2">
                <div class="col-6 d-flex flex-column form-group">
                    <label for="Nome">Nome</label>
                    <input class="form-control" disabled value="{{person.name}}" id="Nome" name="Nome" type="text" >
                </div>
                <div class="col-6 d-flex flex-column form-group">
                    <label for="CPF">CPF</label>
                    <input class="form-control" disabled value="{{person.cpf}}" id="CPF" name="CPF" type="text">
                </div>
            </div>
            <div class="col row justify-content-lg-around justify-content-center py-2">
                <div class="col-6 d-flex flex-column form-group">
                    <label for="Nascimento">Data de Nasc.</label>
                    <input class="form-control" disabled value={{person.birth_date|date:"Y-m-d"}} id="Nascimento" name="Nascimento" type="date">
                </div>
                <div class="col-6 d-flex flex-column form-group">
                    <label for="Sexo">Sexo</label>
                    <select class="custom-select" id="Sexo" name="Sexo" value={{person.gender.pk}} disabled>
                        {% for gender in gender_list %}
                            {% if gender.pk == person.gender.pk %}
                            <option value={{gender.pk}} selected>{{gender.name}}</option>
                            {% else %}
                            <option value={{gender.pk}}>{{gender.name}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col row justify-content-lg-around justify-content-center py-2">
                <div class="col-6 d-flex flex-column form-group">
                    <label for="Celular">Celular</label>
                    <input class="form-control" disabled value="{{person.cellphone}}" id="Celular" name="Celular" type="text">
                </div>
                <div class="col-6 d-flex flex-column form-group">
                    <label for="Email">Email</label>
                    <input class="form-control" disabled value="{{person.email}}" id="Email" name="Email" type="text">
                </div>  
            </div>
            <hr width="100" class="w-100">
            <div class="col row justify-content-lg-around justify-content-center py-2">
                <div class="col-4 d-flex flex-column form-group">
                    <label for="CEP">CEP</label>
                    <input class="form-control" disabled value="{{person.cep}}" id="CEP" name="CEP" type="text">
                </div>
                <div class="col-4 d-flex flex-column form-group">
                    <label for="Endereço">Endereço</label>
                    <input class="form-control" disabled value="{{person.address}}" id="Endereço" name="Endereço" type="text">
                </div>
                <div class="col-4 d-flex flex-column form-group">
                    <label for="Cidade">Cidade</label>
                    <input class="form-control" disabled value="{{person.city}}" id="Cidade" name="Cidade" type="text">
                </div>
            </div>
            <div class="col row justify-content-lg-around justify-content-center py-2">
                <div class="col-4 d-flex flex-column form-group">
                    <label for="Distrito">Bairro</label>
                    <input class="form-control" disabled value="{{person.district}}" id="Distrito" name="Distrito" type="text">
                </div>
                <div class="col-4 d-flex flex-column form-group">
                    <label for="UF">UF</label>
                    <input class="form-control" disabled value="{{person.UF}}" id="UF" name="UF" type="text">
                </div>
                <div class="col-4 d-flex flex-column form-group">
                    <label for="Complemento">Complemento</label>
                    <input class="form-control" disabled value="{{person.complement}}" id="Complemento" name="Complemento" type="text">
                </div>
            </div>
            <hr width="100" class="w-100">
            <div class="d-flex justify-content-end">
                <div class="ml-auto p-2">
                    <a href="{% url 'edit_person' person.pk %}" url="{% url 'edit_person' person.pk %}" class="btn btn-light" id="test">Editar</a>
                </div>
                <div class="ml-auto p-2">
                    <button type="button" person_name="{{person.name}}" person_pk="{{person.pk}}" url="{% url 'view_person' person.pk %}" class="btn btn-danger" onclick="deletePerson(this)">Apagar</button>
                </div>
            </div>
        </form>
      </div>
    {% endblock %}
</body>
</html>