{% extends "./main.html" %}

{% load static %}

{% block title %}Vendas - Visualização{% endblock %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% block scripts %}
    <script src="{% static 'js/view_sale.js' %}"></script>
    {% endblock %}
</head>
<body>
    {% block body %}
    <div class="container-fluid">
        <form id="saleForm" action="{% url 'view_sale' sale.pk %}" method="post" class="box bg-secondary">
            {% csrf_token %} 
            <div class="col row">
                <h1 class="col align-self-center">Venda (Visualização)</h1>
            </div>
            <input type="text" name="pk" id="pk" hidden value="{{sale.pk}}">
            <hr width="100" class="w-100">
            <div class="col row justify-content-lg-around justify-content-lg-between py-2">
                <div class="col-6 d-flex flex-column form-group">
                    <label for="client">Cliente*</label>
                    <select disabled class="custom-select" readonly>
                        <option selected>{{sale.client.name}}</option>
                    </select>
                </div>
                <div class="col-6 d-flex flex-column form-group">
                    <label for="sale_type">Tipo de Venda*</label>
                    <select disabled class="custom-select" readonly>
                        <option selected>{{sale.service.service_type.name}}</option>
                    </select>
                </div>
            </div>
            <div class="col row justify-content-lg-around justify-content-lg-between py-2">
                <div class="col-6 d-flex flex-column form-group">
                    <label for="seller">Vendedor*</label>
                    <select disabled class="custom-select" readonly>
                        <option selected>{{sale.seller.name}}</option>
                    </select>
                </div>
                <div class="col-6 d-flex flex-column form-group">
                    <label for="payment_type">Origem da Venda*</label>
                    <select disabled class="custom-select" readonly>
                        <option selected>{{sale.origin.name}}</option>
                    </select>
                </div>
            </div>
            <div class="col row justify-content-lg-around justify-content-lg-between py-2">
                <div class="col-6 d-flex flex-column form-group">
                    <label for="service">{{sale.service.service_type.name}}*</label>
                    <select disabled class="custom-select" readonly>
                        <option selected>{{sale.service.name}}</option>
                    </select>
                </div>
                <div class="col-2 d-flex flex-column form-group">
                    <label for="price">Preço</label>
                    <input class="form-control" type="text" readonly value="{{sale.service.price}}">
                </div>
                <div class="col-2 d-flex flex-column form-group">
                    <label for="sessions">Quantidade*</label>
                    <input class="form-control" readonly value="{{sale.sessions}}" type="number">
                </div>
                <div class="col-2 d-flex flex-column form-group">
                    <label for="">Sessões Disponíves*</label>
                    <input class="form-control" readonly value="{{available}}" type="number">
                </div>
            </div>
            <div class="col row justify-content-lg-around justify-content-center py-2">
                <div class="col-6 d-flex flex-column form-group">
                    <label for="discount_type">Tipo de Desconto*</label>
                    <select disabled class="custom-select" readonly>
                        <option selected>{% if sale.discount_is_percent %} Porcentagem (%) {% else %} Reais (R$) {% endif %}</option>
                    </select>
                </div>
                <div class="col-6 d-flex flex-column form-group">
                    <label for="discount">Desconto*</label>
                    <input class="form-control" readonly value="{{sale.discount}}">
                </div>
            </div>
            <div class="col row  py-2">
                <div class="col-6 d-flex flex-column form-group">
                    <label for="payment_type">Forma de Pagamento*</label>
                    <select disabled class="custom-select" class="form-select" readonly>
                        <option>{{sale.payment_type.name}}</option>
                    </select>
                </div> 
                <div class="col-3 d-flex flex-column form-group">
                    <label for="price1">Valor*</label>
                    <input class="form-control" type="text" name="" id="" readonly value="{{sale.price1}}">
                </div> 
                <div class="col-3 d-flex flex-column form-group">
                    <label for="payment_type">Parcelas*</label>
                    <input class="form-control" type="text" name="" id="" readonly value="{{sale.installments1}}">
                </div> 
            </div>
            {% if sale.price2 %}
            <div class="col row  py-2">
                <div class="col-6 d-flex flex-column form-group">
                    <label for="payment_type">Forma de Pagamento*</label>
                    <select disabled class="custom-select" class="form-select" readonly>
                        <option>{{sale.payment_type2.name}}</option>
                    </select>
                </div> 
                <div class="col-3 d-flex flex-column form-group">
                    <label for="price2">Valor*</label>
                    <input class="form-control" type="text" name="" id="" readonly {% if sale.price2 %} value="{{sale.price2}}" {% else %} value="0" {% endif %}>
                </div> 
                <div class="col-3 d-flex flex-column form-group">
                    <label for="payment_type">Parcelas*</label>
                    <input class="form-control" type="text" name="" id="" readonly value="{{sale.installments2}}">
                </div> 
            </div>
            {% endif %}
            <div class="col row justify-content-lg-around justify-content-lg-between py-2">
                <div class="col-4 d-flex flex-column form-group">
                    <label for="OBS">Observações</label>
                    <textarea readonly class="form-control" cols="20" rows="4">{{sale.obs}}</textarea>
                </div>
                <div class="col-3 d-flex flex-column form-group">
                    <label for="date">Data*</label>
                    <input readonly class="form-control" value="{{sale.release_date|date:'d/m/Y'}}">
                </div>
                <div class="col-5 d-flex flex-column form-group">
                    <label for="final_price">Preço Final</label>
                    <input class="form-control" value="{{sale.final_price}}" readonly>
                </div>
            </div>
            <hr width="100" class="w-100">
            <div class="d-flex justify-content-end">
                <div class="ml-auto p-2">
                    <a href="{% url 'edit_sale' sale.pk %}" class="btn btn-light">Editar</a>
                </div>
                <div class="ml-auto p-2">
                    <button type="button" sale_pk="{{sale.pk}}" url="{% url 'view_sale' sale.pk %}" class="btn btn-danger" onclick="deleteSale(this)">Apagar</button>
                </div>
            </div>
        </form>
      </div>
    {% endblock %}
</body>
</html>